$primary   : #00994e
$secondary : #00994e
$accent    : #00994e
$dark      : #111111
$dark-page : #111111
$positive  : #00994e
$negative  : #fd596d
$info      : #2cbdff
$warning   : #ffa81a

$breakpoint-xs: 575px
$breakpoint-sm: 767px
$breakpoint-md: 991px
$breakpoint-lg: 1199px
